


<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold">Role_of_supervisors</h1>

    <%= link_to new_role_of_supervisor_path, class: button_class(theme: "primary") do %>
    Add New Role of supervisor
    <% end %>
  </div>

  <table class="table-auto border-collapse border-slate-400 w-full">
    <thead class="bg-slate-50 dark:bg-slate-700">
      <tr>
        
                  <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Role of supervisor category</th>
                
          <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left"></th>
        
      </tr>
    </thead>

    <tbody>
      <% @role_of_supervisors.each do |role_of_supervisor| %>
      <%= content_tag :tr, id: dom_id(role_of_supervisor), class: dom_class(role_of_supervisor) do %>
      

              <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= role_of_supervisor.role_of_supervisor_category %></td>
      
      
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= link_to 'Show', role_of_supervisor %></td>
      
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
