<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Role_of_supervisor</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to role_of_supervisors_path, class: button_class(theme: "transparent") do %>
      All Role_of_supervisors
      <% end %>
      <%= link_to edit_role_of_supervisor_path(@role_of_supervisor), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Role of supervisor category:</p>
        <p><%= @role_of_supervisor.role_of_supervisor_category %></p>
      </li>
  </ul>
</div>
