<div id="<%= dom_id parking_slot %>">
  <p>
    <strong>Parking slot type:</strong>
    <%= parking_slot.parking_slot_type %>
  </p>

  <p>
    <strong>Parking slot description:</strong>
    <%= parking_slot.parking_slot_description %>
  </p>

</div>
