<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Parking_slot</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to parking_slots_path, class: button_class(theme: "transparent") do %>
      All Parking_slots
      <% end %>
      <%= link_to edit_parking_slot_path(@parking_slot), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Parking slot type:</p>
        <p><%= @parking_slot.parking_slot_type %></p>
      </li>
      <li>
        <p class="font-semibold">Parking slot description:</p>
        <p><%= @parking_slot.parking_slot_description %></p>
      </li>
  </ul>
</div>
