<div id="<%= dom_id parking_fee %>">
  <p>
    <strong>Parking fees type:</strong>
    <%= parking_fee.parking_fees_type %>
  </p>

  <p>
    <strong>Parking fees description:</strong>
    <%= parking_fee.parking_fees_description %>
  </p>

  <p>
    <strong>Parking fees money:</strong>
    <%= parking_fee.parking_fees_money %>
  </p>

</div>
