<div id="<%= dom_id parking_fee %>">
  <p>
    <strong>Parking fee type:</strong>
    <%= parking_fee.parking_fee_type %>
  </p>

  <p>
    <strong>Parking fee description:</strong>
    <%= parking_fee.parking_fee_description %>
  </p>

  <p>
    <strong>Parking fee mone:</strong>
    <%= parking_fee.parking_fee_money %>
  </p>

</div>
