<div id="<%= dom_id permission %>">
  <p>
    <strong>Role of supervisor:</strong>
    <%= permission.role_of_supervisor_id %>
  </p>

  <p>
    <strong>Supervisor:</strong>
    <%= permission.supervisor_id %>
  </p>

  <p>
    <strong>Permission date:</strong>
    <%= permission.permission_date %>
  </p>

</div>
