<div id="<%= dom_id car %>">
  <p>
    <strong>Customer:</strong>
    <%= car.customer_id %>
  </p>

  <p>
    <strong>Car category:</strong>
    <%= car.car_category %>
  </p>

  <p>
    <strong>Car description:</strong>
    <%= car.car_description %>
  </p>

</div>
